{
  "extends": ["eslint:recommended", "google"],
  "env": {
    "browser": true,
    "es6": true
  },
  "rules": {
    "no-var": 2,
    "comma-dangle": 0,
    "require-jsdoc": 1
  },
  "parserOptions": {
    "ecmaVersion": 6
  }
}
