@import url(https://fonts.googleapis.com/css?family=Ovo|Muli);

body {
  font-family: 'Muli', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Ovo', serif;
  font-weight: normal;
}

h1 {
  font-size: 120px;
}

gf-slide {
  --gf__slide-page-number-font: 'Ovo', serif;
}
