gf-slide {
  display: inline-block;

  overflow: hidden;

  transform-origin: 0 0;
  background: white;
}

.gf-slide__wrapper {
  width: var(--gf__slide-width, 1920px);
  height: var(--gf__slide-height, 1080px);
  padding: var(--gf__slide-pading, 60px);

  box-sizing: border-box;
  overflow: hidden;

  transform-origin: 0 0;
}

.gf-slide__page-number {
  position: fixed;
  bottom: var(--gf__slide-pading, 60px);
  right: var(--gf__slide-pading, 60px);

  font-family: var(--gf__slide-page-number-font);
  font-size: var(--gf__slide-page-number-font-size);
}
