:host {
  display: inline-block;
  overflow: hidden;
  transform-origin: top left;
}

.gf-slide__wrapper {
  transform-origin: 0 0;

  /* TODO: Could this be calc? */
  /** width: 100vw;
  height: 56.25vw;**/

  width: 1080px;
  /* 1080 * (9/16) */
  height: calc(1080px * (9 / 16));

  background: white;
  overflow: hidden;
}
